gunicorn
openai
PyPDF2
python-docx
PyMuPDF
requests
pytesseract
Pillow
Flask
pandas
textblob
openpyxl
beautifulsoup4
XlsxWriter
yfinance
pdfkit
python-dotenv
Flask-Cors
transformers
torch
datasets
evaluate
nltk
statsmodels
osqp
ecos
scipy
numpy
faiss-cpu
sentence-transformers
markdown
tiktoken
python-pptx
xlrd


