gunicorn
openai
PyPDF2
python-docx
PyMuPDF
requests
pytesseract
Pillow
Flask
pandas
textblob
openpyxl
beautifulsoup4
XlsxWriter
yfinance
pdfkit
python-dotenv
Flask-Cors
transformers
torch
datasets
evaluate
nltk
statsmodels==0.13.5
osqp
ecos
scipy==1.10.1
numpy
faiss-cpu
sentence-transformers
markdown
tiktoken
python-pptx
xlrd
camelot-py[cv]
pdfplumber


